<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339633717297-lttvmikq7aabao4j3f6vk266d6qi02l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339633717297-lttvmikq7aabao4j3f6vk266d6qi02l7</string>
	<key>API_KEY</key>
	<string>AIzaSyApgof_RBjSK-OC1BvJSb4c_CBWR52vhmU</string>
	<key>GCM_SENDER_ID</key>
	<string>339633717297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dani.Lectranscript</string>
	<key>PROJECT_ID</key>
	<string>lectranscript</string>
	<key>STORAGE_BUCKET</key>
	<string>lectranscript.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339633717297:ios:71d22f53da1ce55bcb1510</string>
</dict>
</plist>